.alert {
  padding: 25px;
}
.alert.default{ 
  background-color: var(--rgb-night-4);
  color: var(--night);
  border: 1px solid var(--night);
}

.alert.primary{ 
  background-color: var(--bg-alert-primary);
  color: var(--primary);
  border: 1px solid var(--border-primary);
}
.alert.secondary{ 
  background-color: var(--bg-alert-secondary);
  color: var(--secondary);
  border: 1px solid var(--border-secondary);
}
.alert.success{ 
  background-color: var(--bg-alert-success);
  color: var(--success);
  border: 1px solid var(--border-success);
}
.alert.warning{ 
  background-color: var(--bg-alert-warning);
  color: var(--warning);
  border: 1px solid var(--border-warning);
}
.alert.danger{ 
  background-color: var(--bg-alert-danger);
  color: var(--danger);
  border: 1px solid var(--border-danger);
}
.alert.info{ 
  background-color: var(--bg-alert-info);
  color: var(--info);
  border: 1px solid var(--border-info);
}
.alert.light{ 
  background-color: var(--bg-alert-light);
  color: var(--light);
  border: 1px solid var(--border-light);
}
.alert.dark{ 
  background-color: var(--bg-alert-dark);
  color: var(--dark);
  border: 1px solid var(--border-dark);
}
.alert.gray{ 
  background-color: var(--bg-alert-gray);
  color: var(--gray);
  border: 1px solid var(--border-gray);
}