.toggle-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  background: var(--color-muted);
  color: var(--color-heading);
  transition: background 0.3s ease;
  position: relative;
}

.toggle-btn.active {
  background: var(--success);
  color: white;
}

.switch {
  margin: 10px;
}

.lblSwitch {
  margin-top: 8px;
  display: inline-block;
  width: 55px;
  height: 30px;
  background-color: var(--color-muted);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.btnSwitch:checked~.lblSwitch {
  background-color: var(--primary);
}

.lblSwitch:after {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  background-color: var(--dark);
  border-radius: 50%;
  top: 4px;
  left: 5px;
  transition: ease-in 0.4s;
}

.btnSwitch:checked~.lblSwitch::after {
  left: 28px;
  background-color: var(--light);
}

.btnSwitch {
  display: none;
}

.contCifras {
  list-style: none;
  padding: 0px;

  & li {
    padding: 10px;
  }
}

.bgLight {
  background-color: var(--component-border-color-light);
}

.contNumero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--secondary);
  border-radius: 50%;
  width: var(--diametroSM);
  height: var(--diametroSM);
  font-size: 14px;
  color: #fff;
}

.tituloSM {
  font-size: 17px;
}


@media screen and (min-width: 768px) {

  .contNumero {
    width: var(--diametro);
    height: var(--diametro);
  }

  .tituloSM {
    font-size: 18px;
  }

}