.home{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    background: url('/assets/img/jpg/gruvbox_astro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home__section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top:80px;
}

.home__text{
    font-size: 35px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: var(--light);
}

.home__link {
  font-weight: 600;
  text-transform: uppercase;
}