.ac-loader {
    position: relative;
    animation: ac-rotate 2.5s linear infinite;
}

/* Centrado opcional */
.ac-loader-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Anillos */
.ac-loader span {
    position: absolute;
    inset: 0;
    border: 3px solid transparent;
    border-radius: 50%;
}

/* 🦅 ASSASSIN */
.ac-loader.assassin span:nth-child(1) {
    border-top-color: var(--dark);
    animation: ac-spin 1.4s linear infinite;
    filter: drop-shadow(0 0 6px var(--rgb---dark-6));
}

.ac-loader.assassin span:nth-child(2) {
    inset: 10px;
    border-top-color: var(--danger);
    animation: ac-spin-reverse 2s linear infinite;
    filter: drop-shadow(0 0 6px var(--rgb-danger-6));
}

.ac-loader.assassin span:nth-child(3) {
    inset: 20px;
    border-top-color: var(--light);
    animation: ac-spin 1s linear infinite;
    filter: drop-shadow(0 0 6px var(--rgb-night-6));
}

/* TEMPLARIO */
.ac-loader.templar span:nth-child(1) {
    border-top-color: var(--danger);
    animation: ac-spin 1.2s linear infinite;
    filter: drop-shadow(0 0 8px var(--rgb-danger-8));
}

.ac-loader.templar span:nth-child(2) {
    inset: 10px;
    border-top-color: var(--border-danger);
    animation: ac-spin-reverse 1.8s linear infinite;
    filter: drop-shadow(0 0 6px var(--rgb-danger-6));
}

.ac-loader.templar span:nth-child(3) {
    inset: 20px;
    border-top-color: var(--dark);
    animation: ac-spin 0.9s linear infinite;
    opacity: 0.7;
}

/* Animaciones */
@keyframes ac-spin {
    to { transform: rotate(360deg); }
}

@keyframes ac-spin-reverse {
    to { transform: rotate(-360deg); }
}

@keyframes ac-rotate {
    to { transform: rotate(360deg); }
}
