.btn {
    padding: 0.75rem 1.5rem;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all .25s ease;
}

.expanded {
    width: 100%;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.btn-default {
    border-color: var(--night);
    color: var(--night);
}

.btn-default:hover {
    background: var(--night);
    color: var(--border-default);
    box-shadow: 0 5px 10px var(--rgb-night);
}

.btn-primary-outline {
    border-color: var(--primary);
    color: var(--primary);
}

.btn-primary-outline:hover {
    background: var(--bg-primary);
    color: var(--bg-alert-primary);
    box-shadow: 0 5px 10px var(--rgb-primary);
}

.btn-secondary-outline {
    border-color: var(--secondary);
    color: var(--secondary);
}

.btn-secondary-outline:hover {
    background: var(--bg-secondary);
    color: var(--bg-alert-secondary);
    box-shadow: 0 5px 10px var(--rgb-secondary);
}

.btn-success-outline {
    border-color: var(--success);
    color: var(--success);
}

.btn-success-outline:hover {
    background: var(--bg-success);
    color: var(--bg-alert-success);
    box-shadow: 0 5px 10px var(--rgb-success);
}

.btn-danger-outline {
    border-color: var(--danger);
    color: var(--danger);
}

.btn-danger-outline:hover {
    background: var(--bg-danger);
    color: var(--bg-alert-danger);
    box-shadow: 0 5px 10px var(--rgb-danger);
}

.btn-warning-outline {
    border-color: var(--warning);
    color: var(--warning);
}

.btn-warning-outline:hover {
    background: var(--bg-warning);
    color: var(--bg-alert-warning);
    box-shadow: 0 5px 10px var(--rgb-warning);
}

.btn-info-outline{
    border-color: var(--info);
    color: var(--info);
}

.btn-info-outline:hover {
    background: var(--bg-info);
    color: var(--bg-alert-info);
    box-shadow: 0 5px 10px var(--rgb-info);
}

.btn-primary {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--bg-alert-primary);
}

.btn-primary:hover {
    background: var(--border-primary);
    color: var(--bg-alert-primary);
    border-color: var(--rgb-primary);
    box-shadow: 0 5px 10px var(--rgb-primary);
}

.btn-primary {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--bg-alert-primary);
}

.btn-primary:hover {
    background: var(--border-primary);
    color: var(--bg-alert-primary);
    border-color: var(--rgb-primary);
    box-shadow: 0 5px 10px var(--rgb-primary);
}

.btn-secondary {
    background: var(--secondary);
    border-color: var(--secondary);
    color: var(--bg-alert-secondary);
}

.btn-secondary:hover {
    background: var(--border-secondary);
    color: var(--bg-alert-secondary);
    border-color: var(--rgb-secondary);
    box-shadow: 0 5px 10px var(--rgb-secondary);
}

.btn-danger {
    background: var(--danger);
    border-color: var(--danger);
    color: var(--bg-alert-danger);
}

.btn-danger:hover {
    background: var(--border-danger);
    color: var(--bg-alert-danger);
    border-color: var(--rgb-danger);
    box-shadow: 0 5px 10px var(--rgb-danger);
}

.btn-success {
    background: var(--success);
    border-color: var(--success);
    color: var(--bg-alert-success);
}

.btn-success:hover {
    background: var(--border-success);
    color: var(--bg-alert-success);
    border-color: var(--rgb-success);
    box-shadow: 0 5px 10px var(--rgb-success);
}

.btn-info {
    background: var(--info);
    border-color: var(--info);
    color: var(--bg-alert-info);
}

.btn-info:hover {
    background: var(--border-info);
    color: var(--bg-alert-info);
    border-color: var(--rgb-info);
    box-shadow: 0 5px 10px var(--rgb-info);
}
