.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--info);
    padding: 0 50px;
    height: 70px;
}

.nav__link {
    width: 230px;
    height: 70px;
    background-color: var(--light);
    mask: url('/assets/img/svg/blog.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask: url('/assets/img/svg/blog.svg') no-repeat center;
    -webkit-mask-size: contain;
}

.nav__right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__profile {
    border-bottom: 1px solid var(--light);
    color: var(--light);
    text-decoration: none;
}

.media {
    display: flex;
    gap: 15px;
}

.media__icon {
    color: var(--light);
    font-size: 20px;
}