:root {
    --font: "Urbanist", sans-serif;

    --container: 1200px;

    --letter-spacing: 3px;
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    --dark: #1D2021;
    --light: #FBF1C7;
    --primary: #98971A;
    --secondary: #7C6F64;
    --success: #689D6a;
    --info: #458588;
    --warning: #D79921;
    --danger: #CC241D;

    --dark-light: #3C3836;
    --light-light: #FAF5E5;
    --primary-light: #B8BB26;
    --secondary-light: #CACACA;
    --success-light: #8EC07C;
    --info-light: #83A598;
    --warning-light: #FABD2F;
    --danger-light: #FB4934;

    --dark-hover: #282828;
    --light-hover: #EBDBB2;
    --primary-hover: #79740E;
    --secondary-hover: #3C3836;
    --success-hover: #427B58;
    --info-hover: #076678;
    --warning-hover: #B57614;
    --danger-hover: #9D0006;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background-color: var(--light-light);
}

.container {
    width: var(--container);
    margin: 0px auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: var(--fw-500);
    letter-spacing: var(--letter-spacing);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 95%;
    height: 850px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 20% 10% 60% auto;
    background-color: var(--light);
}

.c1 {
    grid-column: 1 / span 2;
    background-color: var(--info);
    color: var(--light);
}

.c2 {
    grid-column: 1 / span 2;
    background-color: var(--warning);
    color: var(--light);
}

.c3 {
    background-color: var(--danger);
    color: var(--light);
}

.c4 {
    background-color: var(--success);
    color: var(--light);
}

.c5 {
    grid-column: 1 / span 2;
    background-color: var(--primary);
    color: var(--light);
}

.text-center{
    text-align: center;
}