:root
    --fuente: "Work Sans", sans-serif

    --ancho-contendor: 1200px
    --font-size: 16px

    --primary: #00faff
    --secondary: #7f2fff
    --success: #00e900
    --danger: #ff1a32
    --warning: #fae84c
    --info: #248dd5
    --light: #fafafa
    --dark: #1c1816
    --gray: #e0e0e0

    --bg-primary:#00f5ff
    --bg-secondary:#8646ff
    --bg-success: #00cf00
    --bg-danger: #ff1345
    --bg-warning: #f9d325
    --bg-info: #217dc1
    --bg-light: #fafafa
    --bg-dark: #282828
    --bg-gray: #bdbdbd

    --border-color-primary: #14b4b8
    --border-color-secondary: #631ee6
    --border-color-success: #15ba15
    --border-color-danger: #e00025
    --border-color-warning: #f8bb1d
    --border-color-info: #1b5d9e
    --border-color-light: #bdbdbd
    --border-color-dark: #5b5654
    --border-color-gray: #757575

    --color-primary:#00d7e9
    --color-secondary:#8646ff
    --color-success: #00cf00
    --color-danger: #d8183d
    --color-warning: #fdc025
    --color-info: #207cc1
    --color-light: #bdbdbd
    --color-dark: #282828
    --color-gray: #9e9e9e

    --bg-alert-primary: #d8fefe
    --bg-alert-secondary: #dcc7ff
    --bg-alert-success: #caf2c0
    --bg-alert-danger: #ffccd4
    --bg-alert-warning: #fef7c1
    --bg-alert-info: #b6e7fe
    --bg-alert-light: #f5f5f5
    --bg-alert-dark: #96928f
    --bg-alert-gray: #eeeeee
