.blog-card {
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: #eef1f4;
  margin-bottom: 1rem;
  width: 100vw;
}

.blog-card__media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card__media {
  width: 100%;
  object-fit: cover;
  margin: 2px;
}

.blog-card__category {
  position: absolute;
  top: -2rem;
  left: 0;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.blog-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.blog-card__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.blog-card__text {
  line-height: 1.7;
  margin-bottom: 2rem;
  max-width: 480px;
}

@media (min-width: 768px) {
  .blog-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1000px;
    padding: 2.5rem 2rem;
  }

  .blog-card__media {
    max-width: 100%;
    overflow: hidden;
  }

  .blog-card__media img {
    max-width: 100%;
  }

  .blog-card__content {
    max-width: 100%;
    align-self: center;
  }
}