.nav {
    width: 100%;
    background: #1e242b;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;

    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.nav__logo {
    height: 32px;
}

/* Menu desktop */
.menu {
    display: flex;
    gap: 28px;
}

.menu__link {
    color: var(--bg-alert-primary);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.menu__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: width .2s ease;
}

.menu__link:hover::after,
.menu__link.active::after {
    width: 100%;
}

/* Actions */
.actions {
    display: flex;
    align-items: center;
    gap: 12px;
}


/* Hamburger */
.toggle {
    display: none;
    font-size: 22px;
    background: none;
    border: none;
    color: var(--primary);
}

/* Responsive */
@media (max-width: 1024px) {
    .menu {
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
        height: calc(100vh - 64px);

        background: rgba(30, 36, 43, 0.95);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 28px;

        /* ESTADO CERRADO */
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        pointer-events: none;

        transition:
            opacity .25s ease,
            transform .25s ease;
    }

    .menu.active {
        /* ESTADO ABIERTO */
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
    }

    .toggle {
        display: block;
    }
}