.notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  overflow: hidden;
  padding: 20px;
  background-color: var(--light)/* o el color que uses */
}

.notfound__image {
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: contain;
}

.notfound__text {
  font-size: 28px;
  letter-spacing: 3px;
  color: var(--dark);
}